<form #addForm="ngForm" id="addForm" (ngSubmit)="add(addForm)" enctype="multipart/form-data">
  <div class="form-group">
    <label for="name">Nombre</label>
    <input type="text" class="form-control" id="name" name="name" ngModel required #nameInput="ngModel" [ngClass]="{ 'is-invalid': nameInput.invalid && nameInput.touched }" />
    <small *ngIf="nameInput.invalid && nameInput.touched" class="error-msg">
      <span *ngIf="nameInput.errors?.['required']">El nombre es obligatorio.</span>
    </small>
  </div>

  <div class="d-flex justify-content-center">
    <button type="submit" class="gral-button" form="addForm" [disabled]="addForm.invalid">Guardar</button>
  </div>
</form>
