<footer class="site-footer">
  <div class="footer-section logo-section">
    <img src="assets/img/paca-logo.png" alt="Logo" (click)="scrollToTop()" />
  </div>

  <div class="footer-section footer-contact">
    <h2>Contactanos</h2>
    <div class="socialNetwork">
      <a href="https://www.instagram.com/paca.agroecologia/">
        <img src="./assets/img/SocialNetwork/instagram.png" alt="Instagram">
      </a>
      <a href="https://www.facebook.com/ProyectoAgroecologico">
        <img src="./assets/img/SocialNetwork/facebook.png" alt="Facebook">
      </a>
      <a href="https://twitter.com/home">
        <img src="./assets/img/SocialNetwork/twitter.png" alt="Twitter">
      </a>
      <a href="mailto:PACA@gmail.com">
        <img src="./assets/img/SocialNetwork/mail.png" alt="Email">
      </a>
    </div>
  </div>

  <div class="footer-section map-section">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3347.870428289372!2d-60.64630682514473!3d-32.95443017228037!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95b7ab11d0eb49c3%3A0x11f1d3d54f950dd0!2sUniversidad%20Tecnol%C3%B3gica%20Nacional%20%7C%20Facultad%20Regional%20Rosario!5e0!3m2!1ses!2sar!4v1691174155892!5m2!1ses!2sar"
      allowfullscreen
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
    ></iframe>
  </div>
</footer>
