<div class="mb-3 col-xs-6 col-sm-6 col-md-6 col-lg-6 mx-auto">
    <div class="card-body">
        <form #addForm="ngForm" id="addForm" (ngSubmit)="add(addForm)" enctype="multipart/form-data">
            
            <div class="form-group">
            <label for="cuit">CUIT</label>
            <input type="text" class="form-control" id="cuit" ngModel name="cuit" required pattern="^[0-9]{11}$"
                    #cuitInput="ngModel"
                    [ngClass]="{ 'is-invalid': cuitInput.invalid && cuitInput.touched }" />
            
            <div *ngIf="cuitInput.invalid && cuitInput.touched" class="text-danger">
                <small *ngIf="cuitInput.errors?.['required']">El CUIT es obligatorio.</small>
                <small *ngIf="cuitInput.errors?.['pattern']">El CUIT debe tener exactamente 11 números.</small>
            </div>
            </div>

            <div class="form-group">
                <label for="businessName">Nombre:</label>
                <input type="text" class="form-control" id="businessName" ngModel name="businessName" required #businessNameInput="ngModel"[ngClass]="{ 'is-invalid': businessNameInput.invalid && businessNameInput.touched }"/>
                <div *ngIf="businessNameInput.invalid && businessNameInput.touched" class="text-danger">
                    <small *ngIf="businessNameInput.errors?.['required']">El nombre es obligatorio.</small>
                </div>
            </div>

            <div class="form-group">
                <label for="email">Mail</label>
                <input type="email" class="form-control" id="email" ngModel name="email" required email #emailInput="ngModel" [ngClass]="{ 'is-invalid': emailInput.invalid && emailInput.touched }"/>
                    <div *ngIf="emailInput.invalid && emailInput.touched" class="text-danger">
                        <small *ngIf="emailInput.errors?.['required']">El email es obligatorio.</small>
                        <small *ngIf="emailInput.errors?.['email']">El email debe tener un formato válido.</small>
                    </div>
                </div>

            <div class="form-group">                    
                <label for="phone">Teléfono</label>
                <input type="string" class="form-control" id="phone" ngModel name="phone" required #phoneInput="ngModel"[ngClass]="{ 'is-invalid': phoneInput.invalid && phoneInput.touched }"/>
                <div *ngIf="emailInput.invalid && phoneInput.touched" class="text-danger">
                    <small *ngIf="emailInput.errors?.['required']">El telefono es obligatorio.</small>
                </div>
            </div>
            
            <div class="form-group">
            </div>
        </form>
    </div>
</div>

<div class="d-flex justify-content-center">
    <button type="submit" class="btn btn-warning mx-2" form="addForm" id="Accept" [disabled]="addForm.invalid">Guardar</button>
</div>