.btn-link {
  color: #567518;
  font-size: 0.9rem;
  text-decoration: none;
  transition: all 0.3s ease;

  &:hover {
    color: #6b9910;
    text-decoration: underline;
  }

  &:disabled {
    background: #ccc;
    color: #777;
    cursor: not-allowed;
    box-shadow: none;
    transform: none;
  }
}


