<!-- Mensaje cuando no hay productos -->
<div *ngIf="products.length === 0" class="no-products-message">
  <mat-icon>inventory_2_off</mat-icon>
  <h3>No se encontraron productos</h3>
  <p *ngIf="isSearching">Intenta con otros términos de búsqueda.</p>
  <p *ngIf="!isSearching">No hay productos disponibles en este momento.</p>
</div>

<!-- Contenedor de productos -->
<div *ngIf="products.length > 0" class="products-container">
  <div class="product-card-wrapper" *ngFor="let product of products">
    <a [routerLink]="['/product', product.id]" class="no-underline">
      <div class="product-card" [ngClass]="{'out-of-stock': product.stock === 0}">

        <!-- Imagen -->
        <div class="image-wrapper">
          <img [src]="getImageUrl(product.image)" [alt]="product.name">
          <div *ngIf="product.stock === 0" class="overlay-text">AGOTADO</div>
        </div>

        <!-- Información -->
        <div class="card-body">
          <h1 class="card-title truncate">{{ product.name }}</h1>
          <h3 class="card-text truncate">{{ product.description }}</h3>
          <h2 class="card-text">Precio: ${{ product.price }}</h2>

          <div class="button-container">
            <a [routerLink]="['/product', product.id]" class="btn">
              Ver producto
            </a>
          </div>
        </div>
      </div>
    </a>
  </div>
</div>
