.form-group {
  margin-bottom: 0.5rem;
}

.navbar {
  background: rgba(255, 255, 255, 0.95) !important;
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  .navbar-nav {
    display: flex;
    align-items: flex-end;
    gap: 2rem;
  }

  .nav-item {
    display: flex;
    flex-direction: column;

    h2 {
      color: #333;
      margin-bottom: 0.5rem;
      position: relative;
      font-family: 'Quicksand', sans-serif;

      &::after {
        content: '';
        display: block;
        width: 50px;
        height: 2px;
        background: linear-gradient(45deg, #e7c633, #ffd700);
        margin: 0.5rem 0;
        transition: width 0.3s ease;
      }

      &:hover::after {
        width: 100px;
      }
    }
  }
}

.btn {
  background: transparent;
  color: white;
  border: none;
  transition: all 0.3s ease;
}

.no-orders-message {
  text-align: center;
  padding: 4rem 2rem;
  background: rgba(255, 255, 255, 0.95);
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  margin: 2rem;
  backdrop-filter: blur(10px);
}

.no-orders-message mat-icon {
  font-size: 4rem;
  height: 4rem;
  width: 4rem;
  color: #a67c52;
  margin-bottom: 1rem;
}

.orders-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr)); /* cards responsivas */
  gap: 20px;
  padding: 2rem;
}

.orders-container .card {
  background: rgba(255, 255, 255, 0.95);
  backdrop-filter: blur(10px);
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.orders-container .card:hover {
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.15);
}

  p {
    color: #666;
    font-size: 1.1rem;
    margin-bottom: 0.5rem;
  }

.bg-orange {
  background-color: orange !important;
}
