<div class="product-detail" [ngClass]="{ 'out-of-stock': product.stock === 0 }">
  <!-- Columna Imagen -->
  <div class="image-col">
    <div class="card">
      <div class="image-wrapper">
        <img class="card-img-top" [src]="getImageUrl(product.image)" alt="{{ product.name }}">
        <div *ngIf="product.stock === 0" class="overlay-text">AGOTADO</div>
      </div>
    </div>
  </div>

  <!-- Columna Información -->
  <div class="info-col d-flex align-items-center">
    <div class="card-body">
      <h1 class="card-title truncate">{{ product.name }}</h1>
      <h3 class="card-text truncate">{{ product.description }}</h3>
      <h2 class="price">Precio: ${{ product.price }}</h2>

      <div class="btn-container">
        <button type="submit" class="btn-add" *ngIf="showDeleteButton()"
                (click)="addToCart(product)" [disabled]="product.stock === 0">
          Añadir al carrito
        </button>
      </div>
    </div>
  </div>
</div>
