<form
  #signUpForm="ngForm"
  (ngSubmit)="signUp(signUpForm)"
  enctype="multipart/form-data"
>
  <div class="row mb-3">
    <div class="col-md-6">
      <div class="form-group">
        <label for="firstName">Nombre</label>
        <input
          type="text"
          class="form-control"
          id="firstName"
          ngModel
          name="firstName"
          required
          #firstNameInput="ngModel"
          [ngClass]="{
            'is-invalid': firstNameInput.invalid && firstNameInput.touched
          }"
        />
        <small
          *ngIf="firstNameInput.invalid && firstNameInput.touched"
          class="error-msg"
        >
          El nombre es requerido.
        </small>
      </div>
    </div>

    <div class="col-md-6">
      <div class="form-group">
        <label for="lastName">Apellido</label>
        <input
          type="text"
          class="form-control"
          id="lastName"
          ngModel
          name="lastName"
          required
          #lastNameInput="ngModel"
          [ngClass]="{
            'is-invalid': lastNameInput.invalid && lastNameInput.touched
          }"
        />
        <small
          *ngIf="lastNameInput.invalid && lastNameInput.touched"
          class="error-msg"
        >
          El apellido es requerido.
        </small>
      </div>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-md-6">
      <div class="form-group">
        <label for="phone">Teléfono</label>
        <input
          type="number"
          class="form-control"
          id="phone"
          ngModel
          name="phone"
          required
          #phoneInput="ngModel"
          [ngClass]="{
            'is-invalid': phoneInput.invalid && phoneInput.touched
          }"
        />

        <small
          *ngIf="phoneInput.invalid && phoneInput.touched"
          class="error-msg"
          >El teléfono es requerido.</small
        >
      </div>
    </div>

    <div class="col-md-6">
      <div class="form-group">
        <label for="email">Mail</label>
        <input
          type="email"
          class="form-control"
          id="email"
          ngModel
          name="email"
          required
          email
          #emailInput="ngModel"
          [ngClass]="{ 'is-invalid': emailInput.invalid && emailInput.touched }"
        />
        <small
          *ngIf="emailInput.invalid && emailInput.touched"
          class="error-msg"
        >
          <span *ngIf="emailInput.errors?.['required']"
            >El email es obligatorio.</span
          >
          <span *ngIf="emailInput.errors?.['email']"
            >El email debe tener un formato válido.</span
          >
        </small>
      </div>
    </div>
  </div>

  <div class="mb-3">
    <div class="form-group">
      <label for="password" class="form-label">Contraseña</label>
      <div class="input-group flex-column">
        <div class="d-flex align-items-center">
          <input
            [type]="showPassword ? 'text' : 'password'"
            class="form-control"
            id="password"
            ngModel
            name="password"
            required
            pattern="^(?=.*[A-Z])(?=.*\d)(?=.*[!@#$%^&*._-])[A-Za-z\d!@#$%^&*._-]{8,}$"
            #passwordInput="ngModel"
            [ngClass]="{
              'is-invalid': passwordInput.invalid && passwordInput.touched
            }"
          />
          <span
            class="input-group-text"
            (click)="togglePasswordVisibility()"
            style="cursor: pointer"
          >
            <i [class]="showPassword ? 'fas fa-eye-slash' : 'fas fa-eye'"></i>
          </span>
        </div>
        <small
          *ngIf="passwordInput.invalid && passwordInput.touched"
          class="error-msg"
        >
          <span *ngIf="passwordInput.errors?.['required']"
            >La contraseña es requerida.</span
          >
          <span *ngIf="passwordInput.errors?.['pattern']" class="pattern-error">
            La contraseña debe tener al menos 8 caracteres, incluyendo una
            mayúscula, un número y un carácter especial.
          </span>
        </small>
      </div>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-md-6">
      <div class="form-group">
        <label for="street">Calle</label>
        <input
          type="text"
          class="form-control"
          id="street"
          ngModel
          name="street"
          required
          #streetInput="ngModel"
          [ngClass]="{
            'is-invalid': streetInput.invalid && streetInput.touched
          }"
        />
        <small
          *ngIf="streetInput.invalid && streetInput.touched"
          class="error-msg"
        >
          <span *ngIf="streetInput.errors?.['required']"
            >La calle es requerida.</span
          >
        </small>
      </div>
    </div>

    <div class="col-md-6">
      <div class="form-group">
        <label for="streetNumber">Número</label>
        <input
          type="number"
          class="form-control"
          id="streetNumber"
          ngModel
          name="streetNumber"
          min="1"
          required
          #streetNumberInput="ngModel"
          [ngClass]="{
            'is-invalid': streetNumberInput.invalid && streetNumberInput.touched
          }"
        />
        <small
          *ngIf="streetNumberInput.invalid && streetNumberInput.touched"
          class="error-msg"
        >
          <span *ngIf="streetNumberInput.errors?.['required']"
            >El número de calle es requerido.</span
          >
        </small>
      </div>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-md-6">
      <div class="form-group">
        <label for="province">Provincia</label>
        <select
          class="form-control"
          id="province"
          name="province"
          [(ngModel)]="selectedProvince"
          (change)="getCities()"
          required
          #provinceInput="ngModel"
          [ngClass]="{
            'is-invalid': provinceInput.invalid && provinceInput.touched
          }"
        >
          <option disabled selected value="">Seleccione una provincia</option>
          <option *ngFor="let province of provinces" [value]="province.id">
            {{ province.name }}
          </option>
        </select>
        <small
          *ngIf="provinceInput.invalid && provinceInput.touched"
          class="error-msg"
        >
          <span *ngIf="provinceInput.errors?.['required']"
            >La provincia es requerida.</span
          >
        </small>
      </div>
    </div>

    <div class="col-md-6">
      <div class="form-group">
        <label for="city">Ciudad</label>
        <select
          class="form-control"
          id="city"
          name="city"
          ngModel
          required
          #cityInput="ngModel"
          [ngClass]="{ 'is-invalid': cityInput.invalid && cityInput.touched }"
        >
          <option disabled selected value="">
            Seleccione una ciudad de la provincia
          </option>
          <option *ngFor="let city of cities" [value]="city.id">
            {{ city.name }}
          </option>
        </select>
        <small *ngIf="cityInput.invalid && cityInput.touched" class="error-msg">
          <span *ngIf="cityInput.errors?.['required']"
            >La ciudad es requerida.</span
          >
        </small>
      </div>
    </div>
  </div>

  <div class="d-flex justify-content-center">
    <button type="submit" class="btn btn-warning" id="Accept">Aceptar</button>
  </div>
</form>
