<div class="mb-3 col-xs-6 col-sm-6 col-md-6 col-lg-6 mx-auto">
  <div class="card-body">
    <form #addForm="ngForm" id="addForm" (ngSubmit)="add(addForm)" enctype="multipart/form-data" novalidate>

      <div class="form-group">
        <label for="name">Nombre</label>
        <input type="text" class="form-control" id="name" name="name" ngModel required #nameInput="ngModel"[ngClass]="{ 'is-invalid': nameInput.invalid && nameInput.touched }"/>
        <div *ngIf="nameInput.invalid && nameInput.touched" class="text-danger">
          <small *ngIf="nameInput.errors?.['required']">El nombre es obligatorio.</small>
        </div>
      </div>

      <div class="form-group">
        <label for="description">Descripción</label>
        <textarea
          class="form-control" id="description" name="description" ngModel required #descriptionInput="ngModel" [ngClass]="{ 'is-invalid': descriptionInput.invalid && descriptionInput.touched }">
        </textarea>
        <div *ngIf="descriptionInput.invalid && descriptionInput.touched" class="text-danger">
          <small *ngIf="descriptionInput.errors?.['required']">La descripción es obligatoria.</small>
        </div>
      </div>

    </form>
  </div>
</div>

<div class="d-flex justify-content-center">
  <button
    type="submit"form="addForm"id="Accept"class="btn mx-2"[disabled]="addForm.invalid">Guardar
  </button>
</div>


