<div class="categories-container" style="display: flex; flex-wrap: wrap; gap: 15px;">
  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-3 d-flex" style="flex: 0 0 calc(50% - 15px); margin-bottom: 15px;" *ngFor="let category of categories">
    <div class="card-body">
      <div *ngIf="category.editing">
        <div class="form-group">
          <label for="name">Nombre:</label>
          <input type="text" class="form-control" id="name" name="editName" [(ngModel)]="category.editName" required #editNameInput="ngModel"
            [ngClass]="{ 'is-invalid': editNameInput.invalid && editNameInput.touched }"/>
          <div *ngIf="editNameInput.invalid && editNameInput.touched" class="text-danger">
            <small>El nombre es obligatorio.</small>
          </div>
        </div>
      </div>

      <div *ngIf="!category.editing">
        <h2 class="card-text" style="font-family: 'Quicksand', sans-serif;">Nombre: {{ category.name }}</h2>
      </div>

      <div *ngIf="category.editing">
        <div class="form-group">
          <label for="description">Descripción:</label>
          <textarea class="form-control" id="description" name="editDescription" [(ngModel)]="category.editDescription" required #editDescriptionInput="ngModel"
            [ngClass]="{ 'is-invalid': editDescriptionInput.invalid && editDescriptionInput.touched }"
          ></textarea>
          <div *ngIf="editDescriptionInput.invalid && editDescriptionInput.touched" class="text-danger">
            <small>La descripción es obligatoria.</small>
          </div>
        </div>
      </div>

      <div *ngIf="!category.editing">
        <h2 class="card-text truncate" style="font-family: 'Quicksand', sans-serif;">
          Descripción: {{ category.description }}
        </h2>
      </div>
    </div>

    <div class="example-button-container" style="display: flex; justify-content: flex-end;">
      <button mat-icon-button class="btn" *ngIf="!category.editing" (click)="edit(category)" style="color: #e7c633;">
        <mat-icon>create</mat-icon>
      </button>

      <button mat-icon-button class="btn" *ngIf="category.editing" (click)="save(category)" style="color: #e7c633;"
        [disabled]="!category.editName || !category.editDescription">
        <mat-icon>save_alt</mat-icon>
      </button>

      <button mat-icon-button class="btn" *ngIf="!category.editing" (click)="delete(category)" style="color: #f76666;">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </div>
</div>
