.form-group {
  margin-bottom: 0.5rem;
}

.navbar {
  background: rgba(255, 255, 255, 0.95) !important;
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  .navbar-nav {
    display: flex;
    align-items: flex-end;
    gap: 2rem;
  }

  .nav-item {
    display: flex;
    flex-direction: column;

    h2 {
      color: #333;
      margin-bottom: 0.5rem;
      position: relative;

      &::after {
        content: '';
        display: block;
        width: 50px;
        height: 2px;
        background: linear-gradient(45deg, #e7c633, #ffd700);
        margin: 0.5rem 0;
        transition: width 0.3s ease;
      }

      &:hover::after {
        width: 100px;
      }
    }
  }
}

.btn {
  background: transparent;
  color: white;
  border: none;
  transition: all 0.3s ease;
}

/* Contenedor de usuarios con grid responsive */
.users-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  padding: 2rem;
  align-items: stretch;
}

.card-user {
  position: relative;
  background: rgba(255, 255, 255, 0.95);
  backdrop-filter: blur(10px);
  border-radius: 15px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: 100%;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  &:hover {
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  }
}

.card-body {
  padding: 1.5rem;
  width: 100%;
}

.card-text {
  color: #444;
  font-family: 'Quicksand', sans-serif;
  font-size: 1rem;
  margin: 0.5rem 0;
}

.truncate {
  white-space: normal; /* saltos de línea si es necesario */
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.delete-button {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  color: #f76666;
  z-index: 10;
  background: transparent;
  border: none;
  transition: all 0.3s ease;
}

.delete-button:hover {
  transform: translateY(-2px);
}
.delete-button:active {
  transform: translateY(1px);
}

.no-users-message {
  text-align: center;
  padding: 4rem 2rem;
  background: rgba(255, 255, 255, 0.95);
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  margin: 2rem;
  backdrop-filter: blur(10px);
}
.no-users-message mat-icon {
    font-size: 4rem;
    width: 4rem;
    height: 4rem;
    color: #a67c52;
    margin-bottom: 1rem;
}
.no-users-message h3 {
  font-family: 'Quicksand', sans-serif;
  color: #333;
  margin-bottom: 0.5rem;
}
.no-users-message p {
  color: #666;
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
}

.card-actions {
  display: flex;
  justify-content: flex-end;
  gap: 6px;
  background-color: rgba(232, 232, 232, 0.5);
  padding: 0.5rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.card-actions button {
  background: transparent;
  border: none;
}
