html, body { height: 100%; }


/* Importing Datepicker SCSS file. */
@import "bootstrap/scss/bootstrap";


@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Lora&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500&family=Raleway&display=swap');

.card-text{
    font-family: 'Quicksand', sans-serif;
}

.card{
    margin-left: 10px;
    margin-right: 10px;
}
  app-root { // para que el contenedor de la aplicación, es decir lo que sea q esté en el body crezca dinamincamente
    display: flex;
    flex-direction: column;
    flex-grow: 1; //
    margin-top: 65px;
  }


h1, h2, h3, h4, h5, h6, p, span, a {
  font-family: 'Poppins', sans-serif;
}

.material-symbols-outlined {
  font-family: 'Material Symbols Outlined' !important;
}


.modal-content{
  margin-top: 4rem;
}


.modal-header{
  padding: 12px;
}

.modal-dialog .modal-title {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  font-weight: 600;
  font-size: 1.3rem;
}

.modal-body{
  padding: 0;
}


