html, body { height: 100%; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #F9F9F9;
  color: #3E3E3E;
  font-family: 'Poppins', sans-serif;
}


/* Importing Datepicker SCSS file. */
@import "bootstrap/scss/bootstrap";


@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Lora&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500&family=Raleway&display=swap');


.card{
    margin-left: 10px;
    margin-right: 10px;
}

app-root { // para que el contenedor de la aplicación, es decir lo que sea q esté en el body crezca dinamincamente
  display: flex;
  flex-direction: column;
  flex-grow: 1; //
  margin-top: 65px;
}


form {
  max-width: 800px;
  margin: 2rem auto;
  padding: 2.5rem;
  background: white;
  border-radius: 15px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  animation: fadeIn 0.5s ease-out;
  &:hover {

    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  }
}

label{
  font-size: 1rem;
}

h1, h2, h3, h4, h5, h6, p, span, a {
  font-family: 'Poppins', sans-serif;
}



.material-symbols-outlined {
  font-family: 'Material Symbols Outlined' !important;
}


.modal-content{
  margin-top: 4rem;
}


.modal-header{
  padding: 12px;
}

.modal-dialog .modal-title {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  font-weight: 600;
  font-size: 1.3rem;
}

.modal-body{
  padding: 0;
}

/* Global Filter Styles */
.filter-header {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 0.5rem;

  h2 {
    margin-bottom: 0;
    line-height: 1.2;
  }
}

.clear-filters-btn {
  background: transparent;
  border: none;
  padding: 0.2rem;
  border-radius: 50%;
  transition: all 0.3s ease;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.7;
  background-color: #b38558;
  height: 2rem;
  width: 2rem;
  transform: translateY(-16px);

  &:hover {
    background: rgba(166, 124, 82, 0.1);
    opacity: 1;
  }

  mat-icon {
    color: white;
    font-size: 1.2rem;
    width: 1.2rem;
    height: 1.2rem;
  }
}


