.form-group {
  margin-bottom: 0.5rem;
}

.navbar {
  background: rgba(255, 255, 255, 0.95) !important;
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  .navbar-nav {
    display: flex;
    align-items: flex-end;
    gap: 2rem;
  }

  .nav-item {
    display: flex;
    flex-direction: column;

    h2 {
      color: #333;
      margin-bottom: 0.5rem;
      position: relative;

      &::after {
        content: '';
        display: block;
        width: 50px;
        height: 2px;
        background: linear-gradient(45deg, #e7c633, #ffd700);
        margin: 0.5rem 0;
        transition: width 0.3s ease;
      }

      &:hover::after {
        width: 100px;
      }
    }
  }
}

.btn {
  background: transparent;
  color: white;
  border: none;
  transition: all 0.3s ease;
}

.no-products-message {
  text-align: center;
  padding: 4rem 2rem;
  background: rgba(255, 255, 255, 0.95);
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  margin: 2rem;
  backdrop-filter: blur(10px);

  mat-icon {
    font-size: 4rem;
    width: 4rem;
    height: 4rem;
    color: #a67c52;
    margin-bottom: 1rem;
  }

  h3 {
    color: #333;
    margin-bottom: 0.5rem;
    font-family: 'Quicksand', sans-serif;
  }

  p {
    color: #666;
    font-size: 1.1rem;
    margin-bottom: 0.5rem;
  }
}

.products-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 15px;
  margin: 2rem 0 2rem 0;
}

.card {
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  transition: all 0.3s ease;
  height: 100%;
  &:hover {
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  }
}

.card-img {
  width: 100%;
  height: 160px;
  object-fit: cover;
  border-bottom: 1px solid #eee;
}

.card-body {
  padding: 1rem;
}

.card-body h3 {
  font-size: 1.1rem;
  margin: 0 0 0.4rem;
  font-weight: 600;
  color: #333;
}

.card-body .desc {
  font-size: 0.9rem;
  color: #666;
  margin-bottom: 0.6rem;
}

.card-actions {
  display: flex;
  justify-content: flex-end;
  gap: 6px;
  background-color: rgba(232, 232, 232, 0.503);
}

.card-actions mat-icon {
  font-size: 20px;
}

.card-actions .warning {
  color: #f76666;
}

.card-actions .sent {
  display: flex;
  align-items: center;
  font-size: 0.8rem;
  color: #4caf50;
  gap: 4px;
}

.edit-mode {
  padding: 0rem 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.edit-actions {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
  margin-top: 0.8rem;
}

.image-preview {
  margin-top: 0.5rem;
  display: flex;
  justify-content: center;
}

.image-preview img {
  max-width: 100%;
  max-height: 160px;
  border-radius: 8px;
  object-fit: cover;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.image-preview img.faded {
  opacity: 0.8;
}

.yellow-btn {
  color: #ffc107; // Amarillo bootstrap
}
